<h1>edit</h1>
<form action="/update/{{video._id}}" method="post">
  <input type="text" placeholder="title" name="title" value="{{video.title}}" />
  <input type="text" placeholder="url" name="url" value="{{video.url}}" />
  <input type="text" placeholder="image" name="image" value="{{video.image}}" />
  <button type="submit">Submit</button>
</form>
