<div id="app"></div>


<h1>index</h1>
<ul>
  {{#each playlist as |item|}}
  <li>
    <form action="/delete/{{item._id}}" method="post">
      <label>{{item.title}} {{item.url}} {{item.image}}</labe>
      <button>edit</button>
    </form>
  </li>
  {{/each}}
</ul>

<form action="/insert" method="POST">
  <input type="text" placeholder="video title" name="title" value="" />
  <input type="text" placeholder="video url" name="url" value="" />
  <input type="text" placeholder="video image" name="image" value="" />
  <button type="submit">Submit</button>
</form>
